@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <div class="container">
<div class="ms-2 mt-2">
    <h1 class="text-black">SalesOrder Database Application</h1>
    <p>A perpetual SQL Server database program</p>
</div>
<div>
    <h1 class="ms-2">Admin</h1>
    <ul class="mt-3">
        <a class="form-control bg-light p-3" type="text" asp-controller="Product" asp-action="List">Manage Products</a>
        <a class="form-control bg-light p-3" type="text" asp-controller="" asp-action="">Categories</a>
        <a class="form-control bg-light p-3" type="text" asp-controller="" asp-action="">Manage Customers</a>
        <a class="form-control bg-light p-3" type="text" asp-controller="Home" asp-action="Index">Manage Incidents</a>
            <a class="form-control bg-light p-3" type="text" asp-controller="Home" asp-action="Index">Manage Customers</a>
            <a class="form-control bg-light p-3" type="text" asp-controller="Home" asp-action="Index">Manage Incidents</a>
        <input class="form-control bg-light p-3" type="text" value="Manage Registrations" readonly>
    </ul>
</div>
<div>
    <h1 class="ms-2">Technicians</h1>
    <ul class="mt-3">
            <a class="form-control bg-light p-3" type="text" asp-controller="Incident" asp-action="Incidents">Update Incidents</a>
    </ul>
</div>
</div>
</html>

